@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap");


*{
    margin: 0px;
    text-decoration: none;
    box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
    font-size: 16px = 1rem;
    scroll-behavior: smooth;
}

body {
    font-size: 1.5rem;
    background: #040d20 !important;
    font-family: "Poppins", sans-serif;
    color: white !important;
}

.neon-text{
    /* font-size: 50px; */
    font-family: 'Megrim', cursive !important;
    text-shadow: 
          0 0 5px #0bf4f3,
          0 0 10px #0bf4f3,
          0 0 20px #0bf4f3,
          0 0 40px #0bf4f3,
          0 0 80px #0bf4f3;
}

.btn2 {
  margin: 5px;
  padding: 6px;
  border-radius: 5px !important;
  width: 35%;
  border: 1px solid rgba(255, 255, 255, 0.61);
  color: white;
  cursor: pointer;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.6rem;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
}

.btn2:hover {
  color:white;
  background: linear-gradient(var(--rotate), #5ddcff, #3c67e3, #4e00c2);
  animation: background 5s ease-out;
}

#typing-text{
  color:#ebe014;
}

/* Section  */

section .neon-text {
  width: 100%;
  text-align: center;
  margin-top: 3%;
  margin-bottom: 5%;
}

.profile{
  display: flex;
}



/* Navbar */

.navbar {
    padding: 2rem;
  }
  
  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }
  
  .navbar li {
    position: relative;
  }
  
  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-size: 1.5rem;
    font-weight: 700;
    white-space: nowrap;
    transition: 0.3s;
  }
  
  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }
  
  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: #4351cf;
  }

  /* Mobile nav */

  .box{
    border: white solid 1px;
    padding: 0.5rem;
    border-radius: 0.5rem;
  }

  .mobile-nav-toggle {
    color: #fefeff;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
  }
  
  .mobile-nav-toggle.bi-x {
    color: #fff;
  }
  
  @media (max-width: 991px) {
    .mobile-nav-toggle {
      display: block;
    }
  
    .navbar ul {
      display: none;
    }
  }
 
  .navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    transition: 0.3s;
  }

  .navbar-mobile a,
  .navbar-mobile a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-size: 1.5rem;
    font-weight: 700;
    white-space: nowrap;
    transition: 0.3s;
  }
  
  .navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}

.navbar-mobile #ul {
  display: block;
  right: inherit;
  position: absolute;
  padding: 10px 10px;
  border-radius: 10px;
  transition: 0.3s;
  background: radial-gradient(98.75% 283.58% at 1.25% 3.74%, rgba(255, 251, 251, 0.296) 0%, rgba(249, 244, 244, 0.064) 100%);
  border: 1px solid rgba(255, 255, 255, 0.82);
  backdrop-filter: blur(12px);
}
  
  .navbar-mobile a,
  .navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #e9ebee;
  }
  
  .navbar-mobile a:hover,
  .navbar-mobile .active,
  .navbar-mobile li:hover>a {
    color: #4154f1;
  }


/* Hero */

.hero{ 
  display: block;
  position: relative;
  height: 100vh; 
}

#particles-js{
    position: absolute;
    width: 100%;
    height: 100%;  
}

.content{
  margin-top: 12%;
  margin-left: 2%;
  height: 100%;
  z-index: 1000;    
}


.content h3{
  margin-top:10%;
  font-size: calc(43px + 3px + 13px);
  font-weight: 600;
  color: white; 
}

.hero .content h3 span {
  font-size: 3.5rem;
  font-weight: 800;
  color: #ff7b00;
}

.content h2{
  width: 90%;
  margin-bottom: 3%;
  color: rgb(207, 202, 202);
}

.btn {
  margin-top: 13.5px;
  line-height: 0;
  padding: 0.6rem 1.5rem;
  border: 1px solid rgba(255, 255, 255, 0.555);
  border-radius: 4em;
  transition: 0.5s;
  color: #fff;
  background: transparent;
  box-shadow: 0px 5px 18px rgba(231, 231, 236, 0.404);
  font-family: "Nunito", sans-serif;
}

.btn span {
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: 0.02rem;
}

.content .btn i {
  margin-left: 0.3rem;
  font-size: 1.5rem;
  transition: 0.3s;
}

.content .btn:hover i {
  transform: translateX(5px);
}

.content .btn:hover {
  background: #3916d8;
}

.socials {
  position: relative;
  margin-top: 2rem;
}
.socials .social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.socials .social-icons li {
  display: inline-block;
  margin-bottom: 14px;
}

.social-icons a {
  font-size: 1.5rem;
  display: inline-block;
  line-height: 44px;
  color: #00d9ff;
  background-color: #09011b;
  width: 100%;
  height: 44px;
  text-align: center;
  margin: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #0685da;
}
.social-icons a.github:hover {
  background-color: #0e0e0e;
}
.social-icons a.whatapp:hover {
  background-color: #34e92d;
  color: #fff;
}

.social-icons a.twitter:hover {
  background-color: #00aced;
}
.social-icons a.linkedin:hover {
  background-color: #007bb6;
}
.social-icons a.dev:hover {
  background-color: #070707;
}
.social-icons a.instagram:hover {
  background-color: #e232c5;
}



.wave {
  /*  waving hand */
  -webkit-animation-name: wave-animation;
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s; /* Change to speed up or slow down */
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

.background-lights {
  position: absolute;
  left: 30%;
  width: 100%;
  transform: translateX(-50%);
  z-index: -1;
}

@-webkit-keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
  
@media screen and (max-width: 720px) {

 

  .content p{
      font-size: 1.5rem;
      padding-left: 12px;
  }

  .content h2{
      font-size: 1.3rem;
      padding: 12px;
      width: 100%;   
  }

}

/* About */

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
  --card-height: 70vh;
  --card-width: calc(var(--card-height) / 1.45);
}

.card p {
  z-index: 1000;
  color: #ff7b00;
}
.card {
  margin-left: 15%;
  background: #191c29;
  width: var(--card-width);
  height: var(--card-height);
  padding: 1rem;
  position: relative;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.6em;
  color: rgb(88 199 250 / 0%);
  cursor: pointer;
  font-family: cursive;

}

.card::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate),
    #5ddcff,
    #3c67e3 43%,
    #4e00c2
  );
  position: absolute;
  z-index: -1;
  top: -1%;
  left: -2%;
  animation: spin 2.5s linear infinite;
}

.card::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate),
    #5ddcff,
    #3c67e3 43%,
    #4e00c2
  );
  opacity: 1;
  transition: 1;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

#holder {
  position: absolute;
  right: 15%;
  z-index: 5;
}

@media (max-width: 600px) {

  .card {
      margin:0 auto;
      width: 60%;
      height: 50%;
  }

  .profile{
      display: block;
  }

  .person{
      margin: 30px;
      width: 76%;
      transform: translate(-40px,10px);
  }

  #holder{
      width: 2%;
      left: 5%;
  }

}

@media (max-width: 1200px) {

  .person{
      width: 56%;
      transform: translate(-40px,40px);
  }

  #holder{
      width: 20%;
      right: 10%;
  }

}



/* Project */

.pr{
  margin-top: 78%;
}

.gitlink{
  color: white;
  font-size: 36px;
}

.blog-slider {
  width: 65%;
  position: relative;
  max-width: 650px;
  margin-top: -30px;
  margin: auto;
  height: 400px;
  transition: all 0.3s ease-in;
}

.blog-slider__item {
  display: flex;
  color: white;
  align-items: center;
}

.blog-slider__img {
  
  flex-shrink: 0;
 
  border: 1px solid rgba(255, 255, 255, 0.78);
  background: radial-gradient(
    100% 416.44% at 0% 5.25%,
    rgba(255, 249, 249, 0.444) 0%,
    rgba(255, 255, 255, 0.06) 100%
  );
  box-shadow: 4px 13px 30px 1px rgba(252, 56, 56, 0.2);
  backdrop-filter: blur(12px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 9px; 
  overflow: hidden;
}

.tr{
  width: 500px;
  height: 300px;
  transform: translate(300px,20px);
}

.blog-slider__button {
  display: inline-flex;
  background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
  padding: 15px 35px;
  border-radius: 50px;
  color: #fff;
  box-shadow: 0px 14px 80px rgba(252, 56, 56, 0.4);
  text-decoration: none;
  font-weight: 500;
  justify-content: center;
  text-align: center;
  letter-spacing: 1px;
}

.blog-slider__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  opacity: 1;
  border-radius: 20px;
  transition: all 0.3s;
}

.blog-blox {
  width: 300px;
  position: absolute;
  transform: translate(10px);
}

#projx{
  color: white;
  font-size: 30px;
}

.content-btn{
  margin-top: 5%;   
}

#outer-div {
  width: 100%;
  text-align: center;
} 

#inner-div {
  display: inline-block;
  margin: 0 auto;
  padding: 3px;
}


.cn{
  margin: 0 auto;
  height: 300px;
  width: 50%;
}

@media (max-width: 1300px) {
  .blog-blox {
      transform: translate(100px,-60px);
  }
  .content-btn{
      margin-top: 45%;   
  }

  .tr{
      width: 60%;
      transform: translate(120px,200px);
  }
}

@media (max-width: 600px) {
  .blog-blox {
      transform: translate(-16px);
  }
  
  .tr{
      width: 100%;
      height: 200px;
      transform: translate(5px,250px);
  }

  .cn{
      width: 80%;
  }
}

/* Contact */

.custom-btn {
  margin-bottom: 2rem;
  color: #fff;
  display: block;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
}

.btn-16 {
  border: 1px solid #fff;
  box-shadow: 0 0 5px #fff, 0 0 5px #fff inset;
}
.btn-16:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
  transition: all 0.3s ease;
}
.btn-16:hover {
 box-shadow: rgba(255,255,255, 1) -1px -1px,  -2px -2px, rgba(255,255,255, 1) -3px -3px, rgba(255,255,255, .9) -4px -4px,
   rgba(255,255,255,.8) -5px -5px, rgba(255,255,255,.7) -6px -6px, rgba(255,255,255,.6) -7px -7px, rgba(255,255,255,.5) -8px -8px,
      rgba(255,255,255,.4) -9px -9px, rgba(255,255,255,.3) -10px -10px, rgba(255,255,255,.2) -11px -11px, rgba(255,255,255,.1) -12px -12px;
}
.btn-16:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}
.btn-16:active {
  top: 2px;
}

.custom-btn a {
  color: white;
  text-decoration: none;
}

@media (max-width: 600px) {

  .contact-text{
    font-size: 19px;
  }

  .contact-box{
    display: block;
    font-size: 14px;
  }
}





/* Footer */

footer{
  margin:0 auto;
  padding-top: 0;
  background: rgb(0, 1, 43);
  width: 100%;
  height: 200px;
  margin-top: 7%;
  border-top: 1px solid;
}

.ft-text{
  margin: 5% ;
  text-align: center;
}


