@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap');


*{
    margin:0px;
    padding: 5px;
    text-decoration: none;
    outline: none; border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


*::selection{
    background: #2b3dda;
    color: #fff;
}

html{
    font-size: 16px = 1rem;
    scroll-behavior: smooth;
}

body{
    font-size: 1.5rem;
    background: #040D20;
    font-family: 'Poppins', sans-serif;
    color: white;
}

@media(max-width:600px){
  body{
    font-size: 0.5rem;
  }
}


/* header */
header{
  margin:0.4rem;
  margin-inline: 0px;
  position: fixed;
  width: 100%;
  top: 0; left: 0; right: 0;
  z-index: 1000;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 1.5rem;
  background: transparent;
}

header .container-logo{
  margin-top: .5rem;
}

.header.scrolled {
  transition: backdrop-filter 3s linear;
  padding-bottom: 20px;
  box-shadow: 4px 13px 30px 1px rgba(216, 198, 198, 0.2);
  backdrop-filter: blur(12px); 
}


header .navbar ul{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .navbar li{
  margin-left: 1.5rem;
}
header .navbar ul li a{
  font-size: 1.2rem;
  color: white;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 0.04rem;
  transition: .2s;
}

header .navbar ul li a.active,
header .navbar ul li a:hover{
color: #011aff;
border-bottom: .2rem solid #011aff;
padding: .5rem 0;
}

/* hamburger icon starts*/
#menu{
  font-size: 1.7rem;
  cursor: pointer;
  color: white;
  display: none; 
}

@media(max-width:600px){
  #menu{
    display: block;
  }

  header .container-logo{
    margin-left: -2rem;
  }

  .header .logo{
    width: 50%;
    height: 50%;
    /* padding-top:1.4rem; */
  }
  
  .header .navbar{
    position: fixed;
    top: 4.5rem; right: -100%;
    width: 70%;
    height: 100%;
    text-align: left;
    align-items: flex-start;
    border: 1px solid rgba(255, 255, 255, 0.78);
    background: radial-gradient(100% 416.44% at 0% 5.25%, rgba(255, 249, 249, 0.444) 0%, rgba(255, 255, 255, 0.06) 100%);
    box-shadow: 4px 13px 30px 1px rgba(252, 56, 56, 0.2);
    backdrop-filter: blur(12px);
  }

  header .navbar ul{
    flex-flow: column;
    padding: 1rem;
  }
  header .navbar ul li{
    text-align: center;
    width: 100%;
    margin: 1rem 0;
    border-radius: .5rem;
  }

  header .navbar ul li a{
    display: block;
    padding: 1rem;
    text-align: left;
    color: #fff;
    font-size: 1.2rem;
  }
  header .navbar ul li a.active,
  header .navbar ul li a:hover{
    padding: 1rem;
    color: #fff;
    border-radius: .5rem;
    border-bottom: .5rem solid #011aff;
  }
  .fa-times{
    transform: rotate(180deg);
  }
  header .navbar.nav-toggle{
    right: 0;
  }
}


section{
  margin-bottom:1rem;
  /* min-height:100vh; */
  padding: 3.5rem 6%;
}

.heading{
  margin:.5rem;
  font-size: 2.5rem;
  color: white;
  font-weight: 800;
  text-align: center;
  /* border: 1px solid rgba(255, 255, 255, 0.78); */
}


/* home section */

.home{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  width: 100%;
  min-height: 50vh;
  align-items: center; 
}

.home #particles-js{
  position: absolute;
  top: 0;left: 0;
  height: 100%;
  width: 100vw;
}

.home .box-container{
  display: flex;
  line-height: 1.3;
}

.home::before{
  content: '';
  position: absolute;
  top: 0;left: 0;
  height: 100%;
  width: 100%;
}

.home .content{
  width: 100%;
}

.home .content h3{
  font-size: 2.5rem;
  font-weight: 600;
  color: white;
}

.home .content h3 span{
  font-size: 3.5rem;
  font-weight: 800;
  color: #ff7b00;
}

.home .content p span{
  font-size: 100%;
  color: rgb(233, 229, 17); 
  font-weight: 600;
  padding: 1rem 0;
}

.home .content p{
  font-size: 1.5rem;
  color: white;
  font-weight: 600;
  padding: 1rem 0;
}

.home .content h2{
  color:rgb(207, 202, 202);
  padding: 5px;
  min-width: 1rem;
}

.btn {
  margin-top: .5rem;
  position: absolute;
  line-height: 0;
  padding: 0.6rem 1.5rem;
  border:1px solid rgba(255, 255, 255, 0.555);
  border-radius: 4em;
  transition: 0.5s;
  color: #fff;
  background: transparent;
  box-shadow: 0px 5px 18px rgba(231, 231, 236, 0.404);
  font-family: 'Nunito', sans-serif;
}

.btn span {
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: 0.02rem;
}

.home .btn i {
  margin-left: 0.3rem;
  font-size: 1.5rem;
  transition: 0.3s;
}
.home .btn:hover i {
  transform: translateX(5px);
}

.home .btn:hover{
  background: #1a047e;
}

.wave {    /*  waving hand */   
  -webkit-animation-name: wave-animation;
          animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;        /* Change to speed up or slow down */
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@-webkit-keyframes wave-animation {
  0% { transform: rotate( 0.0deg) }
 10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
 20% { transform: rotate(-8.0deg) }
 30% { transform: rotate(14.0deg) }
 40% { transform: rotate(-4.0deg) }
 50% { transform: rotate(10.0deg) }
 60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
100% { transform: rotate( 0.0deg) }
}

@keyframes wave-animation {
  0% { transform: rotate( 0.0deg) }
 10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
 20% { transform: rotate(-8.0deg) }
 30% { transform: rotate(14.0deg) }
 40% { transform: rotate(-4.0deg) }
 50% { transform: rotate(10.0deg) }
 60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
100% { transform: rotate( 0.0deg) }
}

.socials{
  position: relative;
  margin-top: 5rem;
}
.socials .social-icons {
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.socials .social-icons li {
  display:inline-block;
  margin-bottom:14px
}

.social-icons a {
  font-size:1.5rem;
  display:inline-block;
  line-height:44px;
  color: #00d9ff;
  background-color:#09011b;
  width:100%;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}

.social-icons a:active,.social-icons a:focus,.social-icons a:hover {
  color:#fff;
  background-color:#0685da
}
.social-icons a.github:hover {
  background-color:#0e0e0e
}
.social-icons a.whatapp:hover {
  background-color:#34e92d;
  color:#fff;
}

.social-icons a.twitter:hover {
  background-color:#00aced
}
.social-icons a.linkedin:hover {
  background-color:#007bb6
}
.social-icons a.dev:hover {
    background-color:#070707
}
.social-icons a.instagram:hover {
    background-color:#e232c5
}

.background-lights {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.box-container .container-globe{
  position: relative;
  right: 25%;
  width: 50%;
}

#globeCanvas {
  position: relative;
  height: 150vh;
} 


@media(max-width:620px){
  .home{
    padding-right: 0;
    padding-left: 0;
  }
  .home .content h3{
    font-size: 1.7rem;
  }

  .home .content h3 span{
    font-size: 2.1rem;
    font-weight: 800;
    color: #ff7b00;
  }

  .home .content p span{
    font-size: 80%;
  }

  .home .content p{
    font-size: 1.5rem;
  }
  
  .home .content h2{
    font-size: 1.5rem;
  }

  .btn { 
    padding: 0.4rem 1.2rem;
  }

  .social-icons a {
    font-size:0.9rem;
    margin-right:1px;
  }
  .home .box-container{
    
    overflow: hidden;
    display: block;
    
    
  }
  .background-lights {
    top: 20%;
    width: 100%;
  }
  .container-globe{
    overflow: visible;
    margin-left: -170px;
    margin-top:-200px;
  }
  
  #globeCanvas {
    z-index: -2;
    height: 130vh;
  } 
}

/* About */

.about .profile{
  display: flex;
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
  --card-height: 100vh;
  --card-width: calc(var(--card-height) / 1.75);
}

.card {
  margin:0 auto;
  background: #191c29;
  width: var(--card-width);
  height: var(--card-height);
  padding: 1rem;
  position: relative;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 0.6em;
  color: rgb(88 199 250 / 0%);
  cursor: pointer;
  font-family: cursive;
}

.card::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 2.5s linear infinite;
}
.card::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    opacity: 1;
  transition: 1;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}
.btn2{
  margin:5px;
  padding:6px;
  border-radius: 5px !important;
  width: 35%;
  border: 1px solid rgba(255,255,255,0.61);
  color: white;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.6rem;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
}

.btn2:hover{
  background: linear-gradient(
    var(--rotate),#5ddcff,#3c67e3, #4e00c2);
  animation: background 5s ease-out;
}

#holder{
  position: absolute;
  right: 30px;
  z-index: 5;
}
.img-1{
  position: relative;
  right:  20%;
  z-index: 2;
}



@media(max-width:900px){
  .about .profile{
    display: block;
  }
  .card{
    font-size: 0.05rem;
    width:100%;
    height: 70%;
  }
  .card p{
    font-size: 0.69rem;
    font-weight: 800;
    overflow: hidden;
  }

  .box-pic{
    display: block;
  }

  .tagcloud {
    font-size: 0.7rem;
    letter-spacing: 0px; 
    right: 6px;
  }

  .img-1{
    top:120px;
    right: 20%;
    
    width: 100%;
    height: 530px;
    /* overflow: hidden; */
  }

  
}

  /* works */
.blog-slider {
    width: 65%;
    position: relative;
    max-width: 650px;
    margin-top: 50px;
    margin: auto;
    height: 400px;
    transition: all 0.3s;
  }
  
  
  @media screen and (max-width: 868px) {
    .blog-slider {
      min-height: 300px;
      width: 100%;
      height: 00px;
      margin: 28px auto;
    }  
  }
  .blog-slider__item {
    display: flex;
    color:white;
    align-items: center;
  }
  @media screen and (max-width: 868px) {
    .blog-slider__item {
      flex-direction: column;
    }
  }

  .blog-slider__img {
    width: 500px;
    margin-right: 10px;
    flex-shrink: 0;
    height: 300px;
    border: 1px solid rgba(255, 255, 255, 0.78);
    background: radial-gradient(100% 416.44% at 0% 5.25%, rgba(255, 249, 249, 0.444) 0%, rgba(255, 255, 255, 0.06) 100%);
    box-shadow: 4px 13px 30px 1px rgba(252, 56, 56, 0.2);
    backdrop-filter: blur(12px);
  /* Note: backdrop-filter has minimal browser support */
    border-radius: 9px;
    transform: translateX(-80px);
    overflow: hidden;
  }

  .blog-slider__img img {
    width: 100%;
    height: 100%;
    object-fit:contain;
    display: block;
    opacity: 1;
    border-radius: 20px;
    transition: all 0.3s;
  }
  
  .blog-slider__content {
    margin-left: 400px;
    width: 400px;
    color: white;
    margin-right: 150px;
    padding-right: 5px;
    
  }
  .blog-slider__code {
    color: #7b7992;
    margin-bottom: 15px;
    display: block;
    font-weight: 500;
  }
  .blog-slider__title {
    font-size: 24px;
    font-weight: 700;
    color: #ebebee;
    margin-bottom: 20px;
  }
  .blog-slider__text {
    color: #4e4a67;
    margin-bottom: 30px;
    line-height: 1.5em;
  }
  .blog-slider__button {
    display: inline-flex;
    background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
    padding: 15px 35px;
    border-radius: 50px;
    color: #fff;
    box-shadow: 0px 14px 80px rgba(252, 56, 56, 0.4);
    text-decoration: none;
    font-weight: 500;
    justify-content: center;
    text-align: center;
    letter-spacing: 1px;
  }
  .button-class{
    margin:auto auto;
    align-items: center;
    justify-content: center;
    padding: 12px;
  }
  @media screen and (max-width: 876px) {
    .blog-slider__img {
      width: 70%;
      margin-top:20px;
      margin-right: -150px;
      height: 200px; 
    }
  
    .blog-slider__content {
      margin-top:150px;
      margin-left: auto;
      width: 300px;
      color: white;
      margin-right: 10px;
      padding-right: 5px;
      
    }
    .blog-slider__code {
      color: #7b7992;
      font-size: 0.9rem;
      font-weight:bold;
    }

    .blog-slider__button {
      top: 505px;
      width: 100%;
      padding:10px 10px;
    }
    
    .controler{
      margin-top: 10rem !important;
      outline: none;
    }
  
  }

  .controler{
    margin: 2rem auto;
    text-align: center;
    cursor: pointer;
  }

  .controler div{
    margin:0 1rem;
    padding: 1rem;
    border:2px solid green;
    border-radius: 12px;
  }

  .controler div:hover{
    background: linear-gradient(
      var(--rotate),#5ddcff,#3c67e3,#4e00c2
    );
    animation: background 5s ease-out;
  }

  .controler div:nth-child(1){
    background: linear-gradient(
      var(--rotate),#5ddcff,#3c67e3,#4e00c2
    );
    animation: background 5s ease-out;
  }

  .controler div:nth-child(2){
    background: linear-gradient(
      var(--rotate),#5ddcff,#3c67e3,#4e00c2
    );
    animation: background 5s ease-out;
  }

  /* Contact */
.contact{
  margin:0  auto;
  min-height: 100vh;
}
.contact .container{
  max-width: 750px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.78);
  background: radial-gradient(100% 416.44% at 0% 5.25%, rgba(255, 249, 249, 0.444) 0%, rgba(255, 255, 255, 0.06) 100%);
  box-shadow: 4px 13px 30px 1px rgba(252, 56, 56, 0.2);
  backdrop-filter: blur(12px);
  border-radius: 0.2rem;
  margin: auto auto;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.contact .container .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 2rem;
}
.contact .content .image-box{
  max-width: 30%;
  font-size: 1.8rem;
  color: #1a047e;
  font-weight: bold;
  margin-left: 2rem;
}

.image-box h5 {
  font-size: 1.0rem;
}
.contact .content .image-box img{
  width: 40%;
  height: 40rem;
  position: relative;
}
.contact .content form{
  width: 55%;
  margin-right: 1.5rem;
}
form .form-group{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form-group .field{
  height: 50px;
  display: flex;
  position: relative;
  margin: 1rem;
  width: 100%;
}
form i{
  position: absolute;
  top: 50%;
  left: 18px;
  color: rgb(51, 51, 51);
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
}
form .field input,
form .message textarea{
  width: 100%;
  height: 100%;
  outline: none;
  padding: 0 16px 0 48px;
  color: white;
  background: #040D20;
  border: 1px solid #FEFBFB;
  box-sizing: border-box;
  border-radius: 4px;
}
.field input::placeholder,
.message textarea::placeholder{
  color: rgb(51, 51, 51);
}
.field input:focus,
.message textarea:focus{
  padding-left: 47px;
  border: 2px solid rgb(115, 3, 167);
}
.field input:focus ~ i,
.message textarea:focus ~ i{
  color: rgb(115, 3, 167);
}
form .message{
  position: relative;
  margin: 1rem;
  width: 100%;
}
form .message i{
  top: 25px;
  font-size: 20px;
  left: 15px;
}
form .message textarea{
  min-height: 130px;
  max-height: 230px;
  max-width: 100%;
  min-width: 100%;
  padding: 12px 20px 0 48px;
}
form .message textarea::-webkit-scrollbar{
  width: 0px;
}
form .button-area{
  display: flex;
}
.button-area button{
  margin: auto;
  color: #fff;
  border: none;
  outline: none;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px 13px;
  background: #2506ad;
  transition: 0.3s ease;
  font-family: 'Nunito', sans-serif;
}
.button-area button:hover{
  background: #421cecf5;
}
.button-area span{
  font-size: 17px;
  padding: 1.4rem;
  display: none;
}

.button-area button i{
  position: relative;
  top: 16px; left: 2px;
  font-size: 1.5rem;
  transition: 0.3s;
  color:#fff;
}
.button-area button:hover i{
  left: 8px;
}

.astro{
  position: relative;
  bottom: 650px;
  left: -100px;
}

/* contact section media queries starts */
@media (max-width:900px) {
  .contact{
    min-height: 70vh;
  }
  .contact .container{
    margin: 3rem 0 2rem 0;
  }
  .contact .container .content{
    padding: 18px 12px;
  }
  .contact .content .image-box{
    display: none;
  }
  .contact .content form{
    width: 100%;
    margin-right: 2rem;
  }
  .astro{
    position: relative;
    bottom: 650px;
    left: -150px;
  }
}

/* footer section starts */
.footer{
  min-height: auto;
  padding-top: 0;
  background: rgb(0, 1, 43);
}
.footer .box-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.footer .box-container .box{
  flex: 1 1 4rem;
  margin: 0.2rem;
}
.footer .box-container .box h3{
  font-size: 1.1rem;
  color: #fff;
  padding-bottom: 1rem;
  font-weight: normal;
}
.footer .box-container .box p{
  font-size: 1rem;
  color: #ccc;
  padding: .4rem 0;
  text-transform: none;
}
.footer .box-container .box p i{
  padding-right: 0.5rem;
  color: #ffae00;
}
.footer .box-container .box a{
  font-size: 1.5rem;
  color: rgb(238, 238, 238);
  padding: .3rem 0;
  display: block;
}
.footer .box-container .box a:hover{
  color: #ffae00;
}
.footer .box-container .box .share{
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0;
}
.footer .box-container .box .share a{
  height: 2rem;
  width: 2rem;
  padding: 0.3rem;
  text-align: center;
  border-radius: 5rem;
  font-size: 1.2rem;
  margin-right: 1rem;
  transition: .2s;
  background: rgb(230, 230, 230);
  color: #02094b;
  border: none;
}
.footer .box-container .box .share a:hover{
  background: transparent;
  transform: scale(0.98);
  border: .1rem solid rgb(180, 178, 178);
  color: #ffae00;
}
.footer .credit{
  padding: 1rem 0 0 0;
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Nunito',sans-serif;
  font-weight: 600;
  color: #fff;
  border-top: .1rem solid #fff3;
}
.footer .credit a{
  color: #ffae00;
}
.footer .fa{
    color: #E90606;
    margin: 0 .3rem;
    font-size: 1.5rem;
    animation: pound .35s infinite alternate;
}
@-webkit-keyframes pound{
  to{
    transform: scale(1.1);
  }
}
@keyframes pound{
  to{
    transform: scale(1.1);
}
}
@media(max-width:350px){
  .footer .box-container .box{
    font-size: 0.3rem;
    margin: 1.0rem;
  }
  .footer .box-container .box p{
    padding: 0.5rem;
  }
  .footer .box-container .box .share a{
    padding: 0.8rem;
  }
}
/* footer section ends */
