@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap");


*{
    margin: 0px;
    text-decoration: none;
    box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
    font-size: 16px = 1rem;
    scroll-behavior: smooth;
}

body {
    font-size: 1.5rem;
    background: #040d20 !important;
    font-family: "Poppins", sans-serif;
    color: white !important;
}

.neon-text{
    /* font-size: 50px; */
    font-family: 'Megrim', cursive !important;
    text-shadow: 
          0 0 5px #0bf4f3,
          0 0 10px #0bf4f3,
          0 0 20px #0bf4f3,
          0 0 40px #0bf4f3,
          0 0 80px #0bf4f3;
}

.btn2 {
    margin: 5px;
    padding: 6px;
    border-radius: 5px !important;
    width: 35%;
    border: 1px solid rgba(255, 255, 255, 0.61);
    color: white;
    cursor: pointer;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.6rem;
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;
  }
  
  .btn2:hover {
    background: linear-gradient(var(--rotate), #5ddcff, #3c67e3, #4e00c2);
    animation: background 5s ease-out;
  }

#typing-text{
    color:#ebe014;
}

/* header */

.header{
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-between;

    margin: 0.4rem;
    margin-inline: 0px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    

    /* display: flex;
    align-items: center;
    justify-content: space-between;
    height: 1.5rem;
    background: transparent; */
}



.logo{
    display: flex;
    height: 30%;
}

.logo #icon{
    width: 50%;
}

.logo #lb{
    width: 60%;
}

.navbar{
    margin-right: 2%;
    display: flex;
}

.navbar ul{
    display: flex;
    list-style: none;
}

li a{
    margin-right: 15px;
    color: white;
    padding: 7px;
    
}

li a:hover {
    border: 1px solid ;
    border-radius: 10%;
    color: white;
    padding-left: 3px;
    
}

li a::after{
    width: 500px;
    border: 4px solid blue;
}

#menu{
    margin-right: 2%;
    padding: 10px; 
    display: none;
}

.m-nav{
    display: none;
}

/* header */
@media screen and (max-width: 720px) {

    .navbar{
        display: none;
    }

    #menu{
        display: block;
    }
}


/* hero */
.hero{ 
    display: block;
    position: relative;
    height: 100vh;
    
}

#particles-js{
    position: absolute;
    width: 100%;
    height: 100%;
    
}

.box-content{
    display: flex;
    line-height: 1.3;
}
.content{
    margin-top: 10%;
    margin-left: 2%;
    height: 100%;
    z-index: 1000;    
}

.content h3{
    font-size: 3.5rem;
    font-weight: 600;
    color: white; 
}

.hero .content h3 span {
    font-size: 3.5rem;
    font-weight: 800;
    color: #ff7b00;
}

.content h2{
    width: 90%;
    margin-bottom: 3%;
    color: rgb(207, 202, 202);
}

.btn {
    margin-top: 13.5px;
    line-height: 0;
    padding: 0.6rem 1.5rem;
    border: 1px solid rgba(255, 255, 255, 0.555);
    border-radius: 4em;
    transition: 0.5s;
    color: #fff;
    background: transparent;
    box-shadow: 0px 5px 18px rgba(231, 231, 236, 0.404);
    font-family: "Nunito", sans-serif;
}

.btn span {
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: 0.02rem;
}

.content .btn i {
    margin-left: 0.3rem;
    font-size: 1.5rem;
    transition: 0.3s;
}

.content .btn:hover i {
    transform: translateX(5px);
  }
  
.content .btn:hover {
    background: #1a047e;
}

.socials {
    position: relative;
    margin-top: 2rem;
  }
  .socials .social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  .socials .social-icons li {
    display: inline-block;
    margin-bottom: 14px;
  }
  
  .social-icons a {
    font-size: 1.5rem;
    display: inline-block;
    line-height: 44px;
    color: #00d9ff;
    background-color: #09011b;
    width: 100%;
    height: 44px;
    text-align: center;
    margin: 8px;
    border-radius: 100%;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  
  .social-icons a:active,
  .social-icons a:focus,
  .social-icons a:hover {
    color: #fff;
    background-color: #0685da;
  }
  .social-icons a.github:hover {
    background-color: #0e0e0e;
  }
  .social-icons a.whatapp:hover {
    background-color: #34e92d;
    color: #fff;
  }
  
  .social-icons a.twitter:hover {
    background-color: #00aced;
  }
  .social-icons a.linkedin:hover {
    background-color: #007bb6;
  }
  .social-icons a.dev:hover {
    background-color: #070707;
  }
  .social-icons a.instagram:hover {
    background-color: #e232c5;
  }

.wave {
    /*  waving hand */
    -webkit-animation-name: wave-animation;
    animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s; /* Change to speed up or slow down */
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite; /* Never stop waving :) */
    transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
    display: inline-block;
  }
  
  @-webkit-keyframes wave-animation {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(14deg);
    } /* The following five values can be played with to make the waving more or less extreme */
    20% {
      transform: rotate(-8deg);
    }
    30% {
      transform: rotate(14deg);
    }
    40% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(10deg);
    }
    60% {
      transform: rotate(0deg);
    } /* Reset for the last half to pause */
    100% {
      transform: rotate(0deg);
    }
}

#globeCanvas {
    position: relative;
    height: 130vh;
    width: 30vw;
    margin-left: -20%;
    border: 1px solid;
    transform: translateX(-100px);
}

.background-lights {
    position: absolute;
    left: 30%;
    width: 100%;
    transform: translateX(-50%);
    z-index: -1;
}

.box-content .container-globe {
    right: 25%;
    width: 50%;
}

@media screen and (max-width: 720px) {

    #particles-js{ 
        z-index: -10;
    }

    .content{
        margin-top: 30%;
        margin-left: 6%;
        z-index: 1000; 
        height: 100%;  
    }

    .content h3{
        padding: 12px;
        font-size: 2.2rem;
    }

    .content p{
        font-size: 1.5rem;
        padding-left: 12px;
    }

    .content h2{
        font-size: 1.3rem;
        padding: 12px;
        width: 100%;   
    }

    .box-content{
        display: block;
        line-height: 1.3;
    }

    .background-lights {
       
        top:20%;
        left: 30%;
        width: 150%;
        transform: translateX(-50%);
        z-index: -1;
    }

    /* #globeCanvas {
        margin-left: ;
    } */
  }

 @media screen and (max-width: 920px) and (min-width: 800px) {

    #globeCanvas {
        height: 100vh;
        visibility: hidden;
        position: relative;
        transform: translate(-200px,30%);
    }
 }


 /* Section  */

section .neon-text {
    width: 100%;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 5%;
 }

.profile{
    display: flex;
}

@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}

:root {
    --card-height: 70vh;
    --card-width: calc(var(--card-height) / 1.45);
}

.card p {
    z-index: 1000;
    color: #ff7b00;
}
.card {
    margin-left: 15%;
    background: #191c29;
    width: var(--card-width);
    height: var(--card-height);
    padding: 1rem;
    position: relative;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.6em;
    color: rgb(88 199 250 / 0%);
    cursor: pointer;
    font-family: cursive;

}

.card::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(
      var(--rotate),
      #5ddcff,
      #3c67e3 43%,
      #4e00c2
    );
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 2.5s linear infinite;
}

.card::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate),
      #5ddcff,
      #3c67e3 43%,
      #4e00c2
    );
    opacity: 1;
    transition: 1;
    animation: spin 2.5s linear infinite;
}

@keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
}

#holder {
    position: absolute;
    right: 10%;
    z-index: 5;
}

@media (max-width: 900px) {

    .card {
        margin:0 auto;
        width: 60%;
        height: 50%;
    }

    .profile{
        display: block;
    }

    .person{
        margin: 30px;
        width: 76%;
        transform: translate(-40px,10px);
    }

    #holder{
        width: 20%;
        left: 10%;
    }

}

@media (max-width: 1200px) {

    .person{
        width: 56%;
        transform: translate(-40px,40px);
    }

    #holder{
        width: 20%;
        right: 10%;
    }

}

/* Project */

.pr{
    margin-top: 78%;
}

.gitlink{
    color: white;
    font-size: 36px;
}

.blog-slider {
    width: 65%;
    position: relative;
    max-width: 650px;
    margin-top: -30px;
    margin: auto;
    height: 400px;
    transition: all 0.3s ease-in;
}

.blog-slider__item {
    display: flex;
    color: white;
    align-items: center;
}

.blog-slider__img {
    
    flex-shrink: 0;
   
    border: 1px solid rgba(255, 255, 255, 0.78);
    background: radial-gradient(
      100% 416.44% at 0% 5.25%,
      rgba(255, 249, 249, 0.444) 0%,
      rgba(255, 255, 255, 0.06) 100%
    );
    box-shadow: 4px 13px 30px 1px rgba(252, 56, 56, 0.2);
    backdrop-filter: blur(12px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 9px; 
    overflow: hidden;
}

.tr{
    width: 500px;
    height: 300px;
    transform: translate(300px,20px);
}

.blog-slider__button {
    display: inline-flex;
    background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
    padding: 15px 35px;
    border-radius: 50px;
    color: #fff;
    box-shadow: 0px 14px 80px rgba(252, 56, 56, 0.4);
    text-decoration: none;
    font-weight: 500;
    justify-content: center;
    text-align: center;
    letter-spacing: 1px;
}

.blog-slider__img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    opacity: 1;
    border-radius: 20px;
    transition: all 0.3s;
}

.blog-blox {
    width: 300px;
    position: absolute;
    transform: translate(10px);
}

#projx{
    color: white;
    font-size: 30px;
}

.content-btn{
    margin-top: 5%;   
}

#outer-div {
    width: 100%;
    text-align: center;
} 

#inner-div {
    display: inline-block;
    margin: 0 auto;
    padding: 3px;
}

/* Contact */

.cn{
    margin: 0 auto;
    height: 300px;
    width: 50%;
}

@media (max-width: 1300px) {
    .blog-blox {
        transform: translate(100px,-60px);
    }
    .content-btn{
        margin-top: 35%;   
    }

    .tr{
        width: 60%;
        transform: translate(120px,200px);
    }
}

@media (max-width: 600px) {
    .blog-blox {
        transform: translate(-16px);
    }
    
    .tr{
        width: 100%;
        height: 200px;
        transform: translate(5px,250px);
    }

    .cn{
        width: 80%;
    }
}


/* contact */

.contact {
    margin: 0 auto;
    min-height: 100vh;
  }

.contact .container {
    display: flex;
    justify-content: space-between;
    padding-inline-start: 15px;
    max-width: 650px;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.78);
    background: radial-gradient(
      100% 416.44% at 0% 5.25%,
      rgba(255, 249, 249, 0.444) 0%,
      rgba(255, 255, 255, 0.06) 100%
    );
    box-shadow: 4px 13px 30px 1px rgba(252, 56, 56, 0.2);
    backdrop-filter: blur(12px);
    border-radius: 0.2rem;
    margin: auto auto;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  }
  .container .content-left {
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
  }

  .con-icon{
    display: flex;
  }

  .rightSide{
    margin: 3%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-size: 19px;
  }

  .rightSide .text p{
    padding-bottom: 1.2rem;
  }

.text a{
    color:blue
  }
  

/* footer */

footer{
    margin:0 auto;
    padding-top: 0;
    background: rgb(0, 1, 43);
    width: 100%;
    height: 200px;
    margin-top: 7%;
    border-top: 1px solid;
}

.ft-text{
    margin: 5% ;
    text-align: center;
}
